# Firebase Configuration
FIREBASE_DATABASE_URL="https://maru-prajapat-89e33-default-rtdb.asia-southeast1.firebasedatabase.app/"

# Cloudflare R2 Credentials
CF_R2_ACCESS_KEY_ID="YOUR_R2_ACCESS_KEY_ID"
CF_R2_SECRET_ACCESS_KEY="YOUR_R2_SECRET_ACCESS_KEY"
CF_R2_ENDPOINT="YOUR_R2_ENDPOINT"
CF_R2_TOKEN="YOUR_R2_TOKEN"
CF_R2_BUCKET_NAME="YOUR_R2_BUCKET_NAME"
CF_R2_PUBLIC_URL="YOUR_R2_PUBLIC_URL"
